header nav {
  color: #996633 !important;
  background-color: #f1f1f1 !important;
  display: block;
  font-size: 18px !important;
}

header nav ul {
  line-height: 1.5;
}
header nav ul li {
  display: inline;
}
nav ul li a {
  padding: 8px 30px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
body {
  background-color: #3a4a58;
  color: #8c8c8c;
  font-family: "Righteous", cursive;
  font-size: 17px;
  font-weight: 400;
  padding: 15px;
  margin: 0;
}

.pageContainer {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.textWhite {
  color: white;
}

header {
  text-align: center;
}

.pageIcon {
  display: inline-block;
  vertical-align: baseline;
  padding: 15px;
}
.pageHeader {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 2.1rem;
  font-weight: 400;
}

main {
  background-color: #ffffff;
}

#introImg {
  background-image: url(../img/chinook.jpg);
  background-position: center;
  background-size: cover;
  min-height: 250px;
}

main section {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

h2 {
  color: #996633;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-spacing: 0;
}
th {
  color: #333333;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
td {
  text-align: center;
  padding: 10px 15px;
}
.trHeader {
  background-color: #c4cdd6;
  height: 50px;
}
tr:nth-child(odd) {
  background-color: #e5e8ed;
}

td a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
td a:hover {
  color: #996633;
}

.specialItems {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

figure {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
figure caption {
  text-align: center;
}

figure caption span {
  display: block;
  color: #333333;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
hr {
  width: 60%;
  border: 0.5px solid #ccc;
}
p {
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 0;
}
p a {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  color: #333333;
  font-weight: 600;
  text-decoration: none;
}

footer p {
  font-size: 0.9rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}
